.animate-charcter
{
   text-transform: uppercase;
   font-weight: 700;
   
   
  background-image: linear-gradient(
    -225deg,
    #125447 0%,
    #08b3c9 29%,
    #072c82 67%,
    #200675 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

.animate-charcter2
{
   text-transform: uppercase;
   font-weight: 900;
   
   
  background-image: linear-gradient(
    -225deg,
    #b0f2f8 0%,
    #66b6c4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

.animate-charcter3
{
  color:#022c22 !important;
  font-weight: 700;
  

  
  
   
   
 
      
}

.animate-charcter4
{
  color:#adddec !important;
  font-weight: 700;
  

  
  
   
   
 
      
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

